<div class="page-header">
    <h1>Log In</h1>
</div>

<form ng-submit="login()" ng-hide="showForgetPassword">
    <div class="form-group">
        <input class="form-control" placeholder="Email" ng-model="user.email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="submit" class="btn btn-default" value="Log In">
      </div>
      <div class="col-md-6" style="text-align:right">
        <input type="button" class="btn btn-default" value="Forget Password" ng-click="showForgetPassword='true'">
      </div>
    </div>
</form>

<form ng-submit="forgetPassword()" ng-show="showForgetPassword">
    <div class="form-group">
        <input class="form-control" placeholder="Email" ng-model="user.email">
    </div>
    <input type="submit" class="btn btn-default" value="Forget Password">
</form>
